{% extends "network/layout.html" %} {% block body %}
    
<div class="new-post container mt-3">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% else %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% if prompt %}
    <form action="{% url 'post' %}" method="post">
      {% csrf_token %}
      <label for="post-input" class="form-label">New Post</label>
      <textarea
        class="form-control"
        rows="3"
        id="post-input"
        name="post-input"
      ></textarea>
      <button type="submit" class="btn btn-primary mt-2">Post</button>
    </form>
  {% endif %}
</div>
{% include 'network/posts.html' %}
{% endblock %}
