.post {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.date {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.save-btn {
  display: none;
}

.button-like {
  cursor: pointer;
  display: inline-block;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like .fa {
  transition: all ease 0.4s;
}

.button-like:hover .fa {
  color: #cc4b37;
}

.liked .fa {
  color: #cc4b37;
}

.liked:focus {
  background-color: #cc4b37;
}

.top {
  display: flex;
  justify-content: space-between;
}

#menu {
  color: #8a8a8a;
  cursor: pointer;
}

#name-title {
  display: block;
}
