.post {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.date {
  font-weight: lighter;
}

.bold {
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

<<<<<<< HEAD
.edit-link {
  display: flex;
=======
.save-btn {
  display: none;
>>>>>>> 5f248c4 (added ellipsis)
}

.button-like {
  cursor: pointer;
<<<<<<< HEAD
  /* border: none; */
  /* background-color: transparent; */
  /* text-decoration: none; */
  /* position: relative; */
  /* vertical-align: middle; */
  /* text-align: center; */
=======
>>>>>>> 5f248c4 (added ellipsis)
  display: inline-block;
  color: #8a8a8a;
  transition: all ease 0.4s;
}

.button-like .fa {
  transition: all ease 0.4s;
}

<<<<<<< HEAD
/* .button-like:focus {
  background-color: transparent;
} */

/* .button-like:focus .fa {
  color: #8a8a8a;
} */

=======
>>>>>>> 5f248c4 (added ellipsis)
.button-like:hover .fa {
  color: #cc4b37;
}

<<<<<<< HEAD
/* .liked {
  background-color: #cc4b37;
  border-color: #cc4b37;
} */

=======
>>>>>>> 5f248c4 (added ellipsis)
.liked .fa {
  color: #cc4b37;
}

.liked:focus {
  background-color: #cc4b37;
}

<<<<<<< HEAD
/* .liked:focus .fa {
  color: #fefefe;
} */
/* 
.liked:hover {
  background-color: #cc4b37;
  border-color: #cc4b37;
} */

/* .liked:hover .fa {
  color: #8a8a8a;
} */
=======
.top {
  display: flex;
  justify-content: space-between;
}

#menu {
  color: #8a8a8a;
  cursor: pointer;
}

#name-title {
  display: block;
}
>>>>>>> 5f248c4 (added ellipsis)
